{% extends './layouts/base.html' %}
{% load static %}
{% block title %}Portafolio{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'styles/portafolio.css' %}">
{% endblock styles %}
{% block content %}
  <h1>Portafolio</h1>
  <section class="portafolio">
    <article class="portafolio-item">
      <div class="info">
        <h3>Bao Menglong</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi doloremque illo voluptatem.</p>
      </div>
      <img src="{% static 'images/portafolio/bao-menglong-EnJbdNADiTI-unsplash.jpg' %}" alt="Example image from Unsplash from Bao Menglong">
    </article>
    <article class="portafolio-item">
      <div class="info">
        <h3>Erwan Hesry</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quasi dolores veritatis. Ea tempore, architecto molestias nemo tenetur dolor nisi eius.</p>
      </div>
      <img src="{% static 'images/portafolio/erwan-hesry-LO4jovFwX1A-unsplash.jpg' %}" alt="Example image from Unsplash from Erwan Hesry">
    </article>
    <article class="portafolio-item">
      <div class="info">
        <h3>Fumiaki Hayashi</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sit alias repellat ipsa.</p>
      </div>
      <img src="{% static 'images/portafolio/fumiaki-hayashi-0olOYRPgIkE-unsplash.jpg' %}" alt="Example image from Unsplash from Fumiaki Hayashi">
    </article>
    <article class="portafolio-item">
      <div class="info">
        <h3>JuniperPhoton</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, possimus.</p>
      </div>
      <img src="{% static 'images/portafolio/juniperphoton-xZzhJwNMMvM-unsplash.jpg' %}" alt="Example image from Unsplash from JuniperPhoton">
    </article>
    <article class="portafolio-item">
      <div class="info">
        <h3>Lorin Both</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt amet ad, autem perspiciatis iusto nihil?</p>
      </div>
      <img src="{% static 'images/portafolio/lorin-both-_GEvFxWyC7o-unsplash.jpg' %}" alt="Example image from Unsplash from Lorin Both">
    </article>
    <article class="portafolio-item">
      <div class="info">
        <h3>Murewa Saibu</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, sint ratione. Molestias tempore hic beatae eligendi qui.</p>
      </div>
      <img src="{% static 'images/portafolio/murewa-saibu-mpe5eYvL3pQ-unsplash.jpg' %}" alt="Example image from Unsplash from Murewa Saibu">
    </article>
    <article class="portafolio-item">
      <div class="info">
        <h3>Tobias Reich</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque perspiciatis quam dolorem suscipit aperiam!</p>
      </div>
      <img src="{% static 'images/portafolio/tobias-reich-ds8GBtSUtLU-unsplash.jpg' %}" alt="Example image from Unsplash from Tobias Reich">
    </article>
  </section>
{% endblock %}
