{% load static %}
<div class="bg-img">
  <img src="{% static 'images/photographer.png' %}" alt="Photographer" class="about-me-image">
</div>
<h1>About me</h1>
<section class="about-me-intro">
  <p>
    I'm a web photographer and I love to take pictures of nature. I'm also a web designer and I love to design websites.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil magni, et molestiae quae quis dicta, quidem reprehenderit, at quibusdam sapiente deserunt debitis incidunt animi.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nulla id itaque. Cumque, possimus officiis expedita laudantium, quasi perspiciatis unde repellat exercitationem aliquid necessitatibus esse cupiditate facere inventore molestias quo alias voluptatibus ex maxime autem? Obcaecati laborum iste fugiat quidem pariatur maxime.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus dolorum harum iusto!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla deleniti excepturi soluta, error magnam corporis culpa quam totam molestiae?
  </p>
</section>